/* BEGIN CALENDAR STYLES */

@media (min-width: 768px) {
  .calendar-holder {
    width: 22.125rem;
  }
}

.jsCalendar.kk {
  margin: 0;
  padding: 0;
}

.jsCalendar.kk tbody .mr-1 {
  margin-right: .25rem !important;
}

.jsCalendar.kk tbody .mb-1 {
  margin-bottom: .25rem !important;
}

.jsCalendar.kk table {
  font-family: inherit;
  display: block;
  border-collapse: collapse;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;

  /* Disable touch and text select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jsCalendar.kk thead .jsCalendar-nav-left:after,
.jsCalendar.kk thead .jsCalendar-nav-right:after {
  content: "" !important;
}

.jsCalendar.kk thead .jsCalendar-title {
  text-align: center;
  width: 100%;
  line-height: 50px;
}

.jsCalendar.kk thead .jsCalendar-title-name {
  padding: 0;
  margin: 0 auto 0 auto;
  width: auto;
  color: rgba(74,85,104,1);
  font-size: 1.25rem;
  font-weight: 700;
  display: contents;
}

.jsCalendar.kk svg {
  color: rgba(74,85,104,1);
}

.jsCalendar.kk tbody,
.jsCalendar.kk thead {
  position: relative;
  display: block;
}

.jsCalendar.kk tbody {
  border-width: 1px;
  border-color: rgba(203,213,224,1);
}

.jsCalendar.kk tbody tr,
.jsCalendar.kk thead tr {
  display: flex;
  position: relative;
  width: 100%;
}

.jsCalendar.kk tbody td {
  line-height: inherit;
}

.jsCalendar.kk tbody td,
.jsCalendar.kk thead .jsCalendar-week-days th {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  min-width: 2em;
  height: 39px;
  margin: 0;
  border-radius: 0;
  font-size: .75rem;
  font-weight: 700;
  color: rgba(74,85,104,1);
  width: calc(100% / 7);
}

.jsCalendar thead .jsCalendar-week-days th {
  display: table-cell;
}

.jsCalendar.kk tbody tr {
  border-bottom-width: 1px;
  border-color: rgba(203,213,224,1);
}

.jsCalendar.kk tbody tr:last-child {
  border-bottom-width: 0px;
}

.jsCalendar.kk tbody td:hover {
  background-color: rgba(31, 67, 83, 0.1);
}
.jsCalendar.kk tbody td.jsCalendar-current {
  background-color: rgba(82, 201, 255, 0.2);
}
.jsCalendar.kk tbody td.jsCalendar-next,
.jsCalendar.kk tbody td.jsCalendar-previous {
  color: rgba(74,85,104,0.2);
}

/* END CALENDAR STYLES*/
/* BEGIN DETAILS STYLES*/

.close .event-header{
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>');
}

.event-header {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
  background-position: right;
  background-repeat: no-repeat;
}

.close article {
  display: none;
}

@media (min-width: 768px) {
  .event-header {
    background: none !important;
  }
  .close article {
    display: block;
  }
}
/* END DETAILS STYLES*/
